/* @import 'fonts'; */
@import "vars";
@import "global";
@import "./libs/slick.scss";

/* ------------------------header------------------------- */
.header {
}
.header__top {
}
.container {
}
.header__top-inner {
	display: flex;
	justify-content: space-between;
	height: 90px;
	align-items: center;
}
.header__logo {
}
.header__text {
	margin-left: auto;
	margin-right: 50px;
	span {
		color: $red;
	}
}
.header__phone {
}
.header__box {
}
.basket {
}
.header__btn {
	padding: 4px;
	width: 72px;
	border-radius: 4px;
	text-align: center;
	color: #fff;
	font-size: 12px;
}
.header__btn-login {
	background-color: $green;
}
.header__btn-register {
	background-color: $red;
	margin-left: 7px;
}
.header__menu {
	background-color: $bg;
}
.menu {
	display: flex;
	align-items: center;
	height: 60px;
}
.menu__list {
	li {
		display: inline-block;
		& + li {
			margin-left: 30px;
		}
	}
	a {
		color: #fff;
	}
}
/* ------------------------search------------------------- */
.search {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 533px;
	&__inner {
		color: #fff;
		text-align: center;
		padding: 155px 0px 100px;
	}

	&__inner-title {
		font-weight: 700;
		font-size: 48px;
		line-height: 72px;
		margin-bottom: 10px;
	}

	&__inner-text {
		font-size: 20px;
		font-weight: 500;
		line-height: 30px;
		margin-bottom: 50px;
	}

	&__inner-form {
		max-width: 670px;
		margin: 0 auto;
		input {
			display: block;
			width: 100%;
			box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
			border-radius: 4px;
			height: 56px;
			border: none;
			font-size: 14px;
			font-weight: 500;
			padding-left: 25px;
			padding-right: 60px;
			&::placeholder {
				color: #90a4ae;
				font-weight: 500;
			}
		}
		position: relative;
		button {
			position: absolute;
			border: none;
			background-color: transparent;
			right: 20px;
			top: 20px;
		}
	}
}
/* ------------------------products------------------------- */
.products {
	padding: 110px 0px;
	background-color: $grey;

	&__title {
	}

	&__inner {
	}

	&__inner-btn {
		text-align: center;
		margin-bottom: 60px;
		button {
			padding: 12px 21px;
			border: none;
			background-color: #fff;
			color: $bg;
			cursor: pointer;
			& + button {
				margin-left: 5px;
			}
			&.mixitup-control-active {
				background-color: $red;
				color: #fff;
			}
		}
	}

	&__inner-box {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}
.container-fluid {
}
.product {
	&__item {
		max-width: 442px;
		width: 100%;
		box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
		margin-bottom: 30px;
		&:hover {
			box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
		}
	}

	&__item-img {
		min-height: 250px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		display: block;
	}

	&__item-content {
		font-weight: 500;
		display: flex;
		justify-content: space-between;
		padding: 10px 30px;
		align-items: center;
		min-height: 90px;
		border-bottom: 1px solid #e7ecf2;
	}

	&__item-name {
		max-width: 310px;
	}

	&__item-title {
		display: block;
		color: $bg;
		font-size: 18px;
	}

	&__item-category {
		display: block;
		color: $green;
		font-size: 14px;
	}

	&__item-price {
		font-size: 20px;
		font-weight: 700;
		color: $bg;
	}

	&__item-info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 70px;
		padding: 10px 30px;
	}

	&__item-author {
		display: flex;
		align-items: center;
		max-width: 245px;
		.avatar {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			display: inline-block;
			margin-right: 14px;
		}
		span {
			font-size: 14px;
			font-weight: 500;
		}
	}

	&__item-star {
		font-size: 12px;
		color: $bg;
	}

	&__bottom-btn {
		text-align: center;
		border: none;
		button {
			margin: 45px 5px 0;
			box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
			background-color: #fff;
			color: $bg;
			padding: 20px 30px;
			cursor: pointer;
			&.mixitup-control-active {
				background-color: $red;
				color: #fff;
			}
		}
	}
}
.rating {
	&.rating_sending {
		opacity: 0.2;
	}
	&.rating_set .rating__active,
	&.rating_set .rating__item {
		cursor: pointer;
	}

	color: #b5b5b5;
	display: flex;
	align-items: flex-end;
	font-size: 19px;
	line-height: 0.75;
	transition: opacity 0.3s ease 0s;

	&__body {
		position: relative;
		&::before {
			content: "★★★★★";
			display: block;
		}
	}

	&__active {
		position: absolute;
		width: 0%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: hidden;
		&::before {
			content: "★★★★★";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			color: #ffa726;
		}
	}

	&__items {
		display: flex;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&__item {
		flex: 0 0 20%;
		height: 100%;
		opacity: 0;
	}

	&__value {
		color: #000;
		font-size: 70%;
		line-height: 1;
		padding-left: 10px;
	}
}

/* ------------------------product-slider------------------------- */
.product-slider {
	.slick-dotted.slick-slider {
		margin-bottom: 0;
	}

	padding: 110px 0px 120px;
	.slick-dots {
		display: flex;
		justify-content: center;
		margin-top: 50px;
		position: static;
		li {
			width: 16px;
			height: 16px;
			margin-left: 3px;
			margin-right: 3px;
			button {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background-color: #e8e8e8;
				&:before {
					display: none;
				}
			}
			&.slick-active {
				button {
					background-color: $green;
				}
			}
		}
	}
	.product {
		&__item {
			padding: 0 10px;
		}
	}
}

/* ------------------------advantages------------------------- */

.advantages {
	background-color: $bg;
	padding: 110px 0px 100px;

	&__title {
		color: #fff;
		margin-bottom: 80px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		flex: 0 1 325px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		color: #fff;
		&:hover .advantages__item-title{
			color: $green;
		}
	}

	&__item-images {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 113px;
		height: 113px;
		border-radius: 50%;
		margin-bottom: 30px;
		overflow: hidden;
		img {
			width: 100%;
		}
	}

	&__item-title {
		font-size: 24px;
		margin-bottom: 25px;
		font-weight: 500;
		transition: all .5s;
	}

	&__item-text {
	}
}
/* ------------------------author------------------------- */
.author {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 750px;
	display: flex;
	align-items: center;
	justify-content: center;

	&__box {
		width: 100%;
		max-width: 650px;
		min-height: 215px;
		background-color: $green;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
	}

	&__title {
		font-size: 30px;
		line-height: 30px;
		margin-right: 45px;
		max-width: 260px;
		span {
			font-weight: 700;
		}
	}

	&__link {
		/* высота кнопки - высота строки / 2 = padding сверху и снизу */
		padding: 14px 40px;
		background-color: #fff;
		font-size: 18px;
		line-height: 36px;
	}
}
